.modal.fade#upload-modal(tab-index="-1" role="dialog")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        %button.close(data-dismiss="modal" aria-label="Close")
          %span(aria-hidden="true") &times;
        %h4 Upload
      .modal-body
        %form#replayForm
          %h6 Select a replay
          %input#replayInput(type='file' name='file')
          %p#uploadStatus
      .modal-footer
