.col-xs-12.nudge-down
	%h4 MMR-Stats plugin for SC2Gears
	%p.help-block
		The MMR-Stats plugin is not affiliated with SC2Overwatch.
		It is an excellent tool, however.

.col-xs-12
	%p
		%b
			Download:
			%a(href="/mmr/MMRPlugin.zip") Latest version
		(Check TL thread for version info)
.col-xs-12
	%p
		Source Code:
		%a(href="/mmr/src.zip") Version 8.1 (pre-HotS version)
.col-xs-12
	%p
		%b Information:
		%a(href="http://www.teamliquid.net/forum/viewmessage.php?topic_id=334561") Team Liquid Thread
.col-xs-1
	%b License:
	%a(rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/de/")
		%img(alt="Creative Commons Lizenzvertrag" src="http://i.creativecommons.org/l/by-nc-sa/3.0/de/88x31.png")

