.col-xs-12
	%h2 Upload the suspect replay
.col-xs-4.nudge-down

	%form(method="post" enctype="multipart/form-data")
		.form-group
			%label Name
			%input.form-control(name="name")
		.form-group
			%label Server
			%select.form-control(name="server")
				%option NA
				%option KR
				%option EU
				%option SEA
				%option CH
		.form-group
			%input(type="file" name="replay")
			%p.help-block
				Replays will take a moment to process after uploading. Check the most recent tab in a few minutes.
			%button.btn.btn-default.form-control(type="submit") Submit