.col-xs-12
  %h3 Identify the accused
.col-xs-4.nudge-down
  -if request.url.include? "player_not_found"
    .alert.alert-danger Player not found in replay.
  -if request.url.include? "no_evidence"
    .alert.alert-danger No evidence provided.
  -if request.url.include? "incorrect_winner"
    .alert.alert-danger Incorrect winner. Voting locked.
  =if request.url.include? "identical_names"
    .alert.alert-danger Ambiguous names. Please use player ID.
  %form(method="post" enctype="multipart/form-data")
    .form-group
      %label Name
      %label 
      %select.form-control(name="name")
        -@game.players.each do |player|
          %option{ value: player.id }=player.names.last.value
    .form-group
      %label Evidence
      %textarea.form-control(name="evidence")
    .form-group
      %button.btn.btn-default.form-control(type="submit") Submit
